commands:
  install_splunk:
    command: ./install_splunk.sh
    cwd: /opt/splunk
files:
  "/opt/splunk/etc/system/local/deploymentclient.conf":
    content: |
        [target-broker:deploymentServer]
        targetUri = splunkdeployment.bigdata.vtex.com:8089

        [deployment-client]
        clientName = vtex-thumbor
    enconding: plain
    group: root
    mode: "000766"
    owner: root
  "/opt/splunk/install_splunk.sh":
    group: root
    mode: "000777"
    owner: root
    source: "https://s3.amazonaws.com/vtex-versioned-us/applications/hermes/tools/install_splunk.sh"
